{% include '_header.twig' %}

        <!-- Carrega informação de contato -->
        {% setcontent contato = 'infos' where { title: '%Contato%' } returnsingle %}
        <!-- {{ dump(contato) }} -->

        <!-- Conteúdo principal - A barriga do site -->
        <div class="container">

            <script> gradient(false); </script>
            
            <div class="contato-body">
                
                <div class="contato-form-area">
                    <h2 class="cf-head">fale comigo</h2>
                    
                    <!-- O form de envio de email -->
                    {{ simpleform('contact') }}
                </div>

                <div class="contato-infos">
                    <div class="contato-content">
                        <div class="contato-infos-item">
                            <img src="{{ paths.theme }}imgs/contato/email.png"/>
                            <div class="cii-content">
                            {{ contato.email }}
                            </div>
                        </div>
                        <div class="contato-infos-item">
                            <img src="{{ paths.theme }}imgs/contato/telefone.png"/>
                            <div class="cii-content">
                            {{ contato.telefone }}
                            </div>
                        </div>
                        <div class="contato-infos-item">
                            <img src="{{ paths.theme }}imgs/contato/localizacao.png"/>
                            <div class="cii-content">
                            {{ contato.endereco }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
		</div>
		
        {% include '_footer.twig' %}

	</body>
</html>
