<!-- Conteúdo principal - A barriga do site -->
<div class="container">

    <div class="simplewall">
        
        {% set jobimagecss = 'job-image' %}
        {% if trabalho.galeria|length > 0 %}
            {% set jobimagecss = 'job-image-with-gallery' %}
        {% endif %}
        
        
        {% if trabalho.imagem != "" %}
        <div class="job-line">
            <div class="{{ jobimagecss }}" style="background-image: url({{ imageinfo(trabalho.imagem).url }});">
            </div>
        </div>
        {% endif %}
        
        <div class="job-description">
            <h2 class="job-title" data-bolt-field="title">{{ trabalho.titulo }}</h2>
            <!-- <h3 class="">{{ trabalho.subtitulo }}</h3> -->

            {% if trabalho.conteudo|length > 0 %}
                <div class="">
                {{ trabalho.conteudo }}
                </div>
            {% endif %}
        </div>
    
        {% if trabalho.galeria|length > 0 %}
        <script>
            $(function() {
                $( ".job-gallery" ).draggable({
                    axis: "x",
                    scroll: false
                });
            });
        </script>
        <div class="job-gallery">
            {% for imggaleria in trabalho.galeria %}<a class="job-imagelink" href="{{ imageinfo(imggaleria.title).url }}" data-lightbox="galeria"><div class="job-gallery-image" style="background-image: url({{ imageinfo(imggaleria.title).url }});">
                </div></a>{% endfor %}
            <script src="{{ paths.theme }}js/lightbox.js"></script>
        </div>
        {% endif %}
    </div>
    
    {% set currTipo = trabalho.tipo %}
    {% set previous = trabalho.previous('datepublish', { tipo: currTipo }) %}
    {% set next = trabalho.next('datepublish', { tipo: currTipo }) %}
    <!-- {{ dump(next) }} -->
    <!-- {{ dump(previous) }} -->
    <div class="job-bottom-menu">
        <div id="jbmenu-prev" onclick="go('{{ previous.link }}');" class="jbmenu-item jbmenu-prev"></div>
        <div id="jbmenu-center" onclick="jbmenuCenter();" class="jbmenu-center"></div>
        <div id="jbmenu-next" onclick="go('{{ next.link }}');" class="jbmenu-item jbmenu-next"></div>
    </div>
</div>