
<!-- Conteúdo principal - A barriga do site -->
<div class="container">

    <div id="freewall">
        
        <!-- store filter -->
        {% set requestFilter = app.request.get('filter') %}
        
        <!--all stuff -->
        {% if requestFilter == 'all' %}
        
            {% for trabalho in trabalhos %}
        
            {% if trabalho.imagem!="" %}
            <div data-ajax-link="{{ trabalho.link }}" class="trab brick" style="background-image: url({{ imageinfo(trabalho.imagem).url }});">
            </div>
            {% endif %}
        
            {% endfor %}
        
        {% endif %}
        
        <!--filtered stuff -->
        {% if requestFilter == 'ilustra' or requestFilter == 'design'  %}
        
            {% for trabalho in trabalhos %}
            
            <!--Size css -->
            {% set customcss = "" %}
            {% if trabalho.tamanho == "alto" %}
                {% set customcss = "tall" %}
            {% endif %}
        
            {% if trabalho.tamanho == "grande" %}
                {% set customcss = "big" %}
            {% endif %}
        
            <!--ilustra stuff -->
            {% if trabalho.imagem!="" and trabalho.tipo==requestFilter %}
            <div data-ajax-link="{{ trabalho.link }}" class="trab brick {{ customcss }}" style="background-image: url({{ imageinfo(trabalho.imagem).url }});">
            </div>
            {% endif %}
        
            {% endfor %}
        
        {% endif %}
        
    </div>
    
</div>
